
body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(182, 172, 175);
    /* background-image: url('https://i.imgur.com/xtS1LOi.jpg'); */
    
}

 
h1 {
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: 'Lobster', cursive;
} 

 
h2 {
    margin-top: 0px;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: purple;
}
 
 
h3 {
  color: purple;
  font-family: 'Lobster', cursive;

}
 
#statsDiv {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  /* background-color: hotpink; */
  width: 650px;

}

.gameRestartButton, .gameRestartNewPlayersButton {
    line-height: 20px;
    width: 320px;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(181, 166, 187);
    border: 2px solid black;
}

#player1Submit, #player1, #player2Submit, #player2 {
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(228, 216, 233);
    border: 2px solid black;
    border-radius: 5px;

}
/* .grid {
    border: 5px solid black;
  } */

  .gameGrid {
    width: 700px;
    border: 2px solid black;
  }

/* #statsDiv {
  width: 650px;
} */

#player1Div, #player2Div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  border-radius: 5px;
}
#player1Table, #player2Table {
  width: 200px;
  /* background-color: rgb(209, 242, 235); */
  background-color: rgb(228, 216, 233);
  /* background-color: white; */
  border: 2px solid black;
  border-radius: 8px;

}

#player1Label, #player2Label {
  color: purple;
}

   .gameBox {
    width: 175px;
    height: 150px;
    font-size: 60px;
    text-align: center;
    background-color: #eeeeee;
    /* background-color: rgb(209, 242, 235); */
    border: 2px solid black;
  }
